﻿
@{
    ViewBag.Title = "Home Page";
}
    
    <style>
        img {
            border-radius: 10%;
        }
    </style>


    <div style="margin-top: 80px" class="text-center">

        <h1>BRONEERI STUUDIO</h1>



        <form action="/Bookings/Create?DateTime=11.12.2019%2000:00:00&StudioId=Studio 2" id="studioform" class="text-center">
            
            @*<select name="StudioId" form="studioform">
            <option value="1">Studio 1</option>
            <option value="2">Studio 2</option>
            <option value="3">Tsükloraam</option>
            </select>
            *@

            <div class="row text-center">
                <div class="col-lg-4">
                    <label class="label_item" for="radio1"> <img src="~/Images/dark5.jpg" alt="Paris" style="width:100%; height: 100%;"> </label>
                    <input type="radio" class="radio_item" value="2" name="StudioId" id="radio1">
                    <p><strong>Stuudio 1</strong></p>
                    <p>Dark loft "Brooklyn"</p>
                </div>


                <div class="col-lg-4">
                    <label class="label_item" for="radio2"> <img src="~/Images/light1.jpg" alt="New York" style="width:100%; height: 100%;"> </label>
                    <input type="radio" class="radio_item" value="1" name="StudioId" id="radio2">
                    <p><strong>Stuudio 2</strong></p>
                    <p>White loft "Greenwich village"</p>
                </div>

                <div class="col-lg-4">
                    <label class="label_item" for="radio3"> <img src="~/Images/Cycloraam2.jpg" alt="San Francisco" style="width:100%; height: 100%;"> </label>
                    <input type="radio" class="radio_item" value="3" name="StudioId" id="radio3">
                    <p><strong>Tsükloraam</strong></p>
                    <p>Endless white light</p>
                </div>
            </div>

            <div class="text-center">
                <h2>Vali Kuupäev:</h2>


                <input type="date" name="DateTime" style="margin:10px"> <br />


                <input type="submit" value="Vaata vabu aegu ja broneeri" class="btn btn-danger">

            </div>
        </form>

    </div>