﻿@{
    ViewBag.Title = "Home Page";
}




    <div class="text-center" style="margin-top:170px; font-size: 25px" >
        
        <p>Oleme uus vahva sisekujundusega fotostuudio Tallinnas, tule meile külla!</p>

    </div>



@*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">


            <div id="darkcarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#darkcarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#darkcarousel" data-slide-to="1"></li>
                    <li data-target="#darkcarousel" data-slide-to="2"></li>
                    <li data-target="#darkcarousel" data-slide-to="3"></li>

                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    <div class="item active">
                        <img src="~/Images/dark2.jpg" style="width:100%;">
                    </div>

                    <div class="item">
                        <img src="~/Images/dark4.jpg" style="width:100%;">
                    </div>

                    <div class="item">
                        <img src="~/Images/dark6.jpg" style="width:100%;">
                    </div>

                    <div class="item">
                        <img src="~/Images/dark7.jpg" style="width:100%;">
                    </div>

                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#darkcarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#darkcarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>




        </div>

    </div>
</div>

<!-- Modal -->
<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">


            <div id="lightcarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#lightcarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#lightcarousel" data-slide-to="1"></li>
                    <li data-target="#lightcarousel" data-slide-to="2"></li>
                    <li data-target="#lightcarousel" data-slide-to="3"></li>

                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Images/light2.jpg" style="width:100%;">
                    </div>

                    <div class="item">
                        <img src="~/Images/light3.jpg" style="width:100%;">
                    </div>

                    <div class="item">
                        <img src="~/Images/light4.jpg" style="width:100%;">
                    </div>

                    <div class="item">
                        <img src="~/Images/light5.jpg" style="width:100%;">
                    </div>

                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#lightcarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#lightcarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>




        </div>

    </div>
</div>


<script>
    var slideIndex = [1, 1];
    var slideId = ["mySlides1", "mySlides2"]
    showSlides(1, 0);
    showSlides(1, 1);

    function plusSlides(n, no) {
        showSlides(slideIndex[no] += n, no);
    }

    function showSlides(n, no) {
        var i;
        var x = document.getElementsByClassName(slideId[no]);
        if (n > x.length) { slideIndex[no] = 1 }
        if (n < 1) { slideIndex[no] = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex[no] - 1].style.display = "block";
    }
</script>


<a name="s"></a>

<div class="text-center" style="margin-top:150px">

    <h1>Stuudiod</h1>


    <div class="row text-center">
        <div class="col-lg-4">
            <div type="button" data-toggle="modal" data-target="#myModal" onmouseover="" style="cursor: pointer;">
                <img src="~/Images/dark5.jpg" alt="Paris" style="width:100%; height: 100%; border-radius: 10px">
                <p><strong>Stuudio 1</strong></p>
                <p>Dark loft "Brooklyn"</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div type="button" data-toggle="modal" data-target="#myModal1" onmouseover="" style="cursor: pointer;">
                <img src="~/Images/light1.jpg" alt="New York" style="width:100%; height: 100%; border-radius: 10px">
              
                <p><strong>Stuudio 2</strong></p>
                <p>White loft "Greenwich village"</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <img src="~/Images/Cycloraam2.jpg" alt="San Francisco" style="width:100%; height: 100%; border-radius: 10px">
                <p><strong>Tsükloraam</strong></p>
                <p>Endless white light</p>
            </div>
        </div>
    </div>



    <a name="f"></a>
    <div class="container-fluid text-center bg-grey" style="margin-top:100px" >


        <h1>Meie tegijad</h1>

        <div class="row text-center">
            <div class="col-sm-6 ">
                <div onclick="parent.open('http://hypnofilms.ee/')" onmouseover="" style="cursor: pointer; ">
                    <img src="~/Images/Vladimir.jpg" alt="Paris" style="width: 70%; height: 70%;border-radius: 10px">
                    <p><strong>Vladimir</strong></p>
                    <p>Videograaf</p>
                </div>
            </div>

            <div class="col-sm-6">
                <div onclick="parent.open('https://www.facebook.com/jbasharenko/')" onmouseover="" style="cursor: pointer;">
                    <img src="~/Images/Jekaterina.jpg" alt="New York" style="width: 70%; height: 70%;border-radius: 10px">
                    <p><strong>Jekaterina</strong></p>
                    <p>Fotograaf</p>

                </div>
            </div>
            
        </div>
    </div>
</div>

<a name="g"></a>

<div class="text-center" style="margin-top:120px">

    <h1>Galerii</h1>

    <div>

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

                @for (int i = 1; i < 11; i++)
                {

                    <li data-target="#myCarousel" data-slide-to="@i"></li>
                }

            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
                    <img src="~/Images/dark5.jpg" style="max-height:500px">
                </div>

                @foreach (var item in Model)
                {
                    <div class="item ">
                        <img src="@Url.Action("Content", "My", new {id = item.PictureId})" style="max-height:500px" />
                    </div>

                }


                <!-- Left and right controls -->
                <a class="left cc " href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right cc  " href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <a name="k"></a>

    </div>


</div>

<style>


 .carousel-inner > .item > img{
margin:auto;
}
    .cc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 40px;
  color: red;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: 0.5;
}

 
.cc.right {
  right: 0;
  left: auto;
 
}
.cc:hover,
.cc:focus {
  color: red;
  text-decoration: none;
  outline: 0;
  filter: alpha(opacity=90);
  opacity: 0.9;
}

.cc .icon-prev,
.cc .icon-next,
.cc .glyphicon-chevron-left,
.cc .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;

 }

</style>