﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FBR Stuudio</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FBR Stuudio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/Home/#s">Stuudiod</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/Home/#f">Fotograafid</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/Home/#g">Galerii</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/Home/#k">Kontaktid</a>
                    </li>

                    <li class="btn btn-danger btn-xs">@Html.ActionLink("BRONEERI", "Bron", "Home")</li>

                    @if (User.IsInRole("User"))
                    {
                        <li class="nav-link text-dark">@Html.ActionLink("Minu broneeringud", "Index", "Bookings")</li>
                        <li class="nav-link text-dark">@Html.ActionLink("Albumid", "Index", "Albums")</li>
                        <li class="nav-link text-dark">@Html.ActionLink("Fotod", "Index", "Photos")</li>
                    }

                </ul>







                @Html.Partial("_LoginPartial")
            </div>
            <div class="navbar navbar-nav navbar-right navbar-static-top">



                @if (User.IsInRole("Admin"))
                {
                    <ul class="nav navbar-nav">
                        <li class="nav-link text-dark">@Html.ActionLink("Studiod", "Index", "Studios")</li>
                        <li class="nav-link text-dark">@Html.ActionLink("People", "Index", "People")</li>
                        <li class="nav-link text-dark">@Html.ActionLink("Broneeringud", "Index", "Bookings")</li>
                        <li class="nav-link text-dark">@Html.ActionLink("Albumid", "Index", "Albums")</li>
                        <li class="nav-link text-dark">@Html.ActionLink("Fotod", "Index", "Photos")</li>
                    </ul>
                }

            </div>
        </div>
    </div>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>


            <div class="container-fluid bg-grey row text-center">

                <div class="row justify-content-center">
                    <div class="col-sm-6">
                        <h2 class="text-center">Kontakt</h2>
                        <p>Võtke meiega julgelt ühendust</p>
                        <p><span class="glyphicon glyphicon-map-marker"></span> Tallinn</p>
                        <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
                        <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>

                        <a href="#" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-facebook"></a>

                    </div>

                    <div class="col-sm-6  ">
                        <div class="gmap_canvas center-block"><iframe width="300" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=Vana-L%C3%B5una%2039&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/nordvpn-coupon-code/">nordvpn special</a></div>
                        <style>
                            .mapouter {
                                position: relative;
                                text-align: center;
                                height: 300px;
                                width: 300px;
                            }

                            .gmap_canvas {
                                overflow: hidden;
                                background: none !important;
                                height: 300px;
                                width: 300px;
                            }
                        </style>
                    </div>

                </div>
            </div>


        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
